//Fonts
$font-charmonman: 'Charmonman', cursive;
$font-open-sans: 'Open Sans', sans-serif;
$base-size: 14px;

//Colors
$sidebar-nav-color: #5B605F;
$header-col-text-color: #4a4a49;
$buttons-headers: #FF6600;
$background-color: #FFFFFA;
$info-msg-color: #3498DB;
$info-warn-color: #FFB03B;
$info-success-color: #468966;
$trash-color: #BD4932;
$table-text-color: #A1A194;

$orangish-logo: #E58A20;
$main-bg-dark: rgb(74,74,73);
$main-bg-light: rgb(235,235,235);
$main-bg-gray: rgb(73,78,76);